img {
    width: 100%;
}

h1 {
    font-size: 5vw;
}

@media (max-width: 600px) {
    body {
        background: lightblue;
        width: 125px;
    }
}


.box {
    width: 400px;
}

@media (max-width: 600px) {
    .box {
        width: 100%;
    }
}


.container {
    display: flex;
    gap: 20px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

.projects {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
    background-color: rgb(81, 104, 45);
}

/* ------------------------------------- */
/* .card>.title2 {}

.container > .first + div {}

.container > .first ~ div {}

img[alt="mon_image"] {} */

img[alt="mon_image"] {

    width: 200px;
}


/* ------------------------------------- */
.card:hover {
    border: 12px solid purple;
    transition: all 8s;
}

.projects>div {
    border: 4px solid orange;
}

.projects>div:nth-child(2) {
    border: 5px solid black;

}


.projects>div:first-child {
    border: 5px solid yellow;
}


.elt {
    background-color: cyan;
    width: 100vh;
    height: 50vh;
}